---
import "../styles/starwind.css"
import Layout from "@/layouts/Layout.astro";
import { Button } from "@/components/starwind/button";
import ProjectCard from "@/components/ProjectCard.astro";
import Project from "@/components/Project.astro";
---

<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>Dimitra Maria Pavlou</title>
</head>

<body>
	<Layout>
		<br>
		<h1 class="font-extrabold text-5xl p-6">Dimitra Maria Pavlou</h1>
		<br>
		<br>
			<Project />

	</Layout>
</body>

</html>