---
import "../styles/starwind.css"
import Layout from "@/layouts/Layout.astro";
import { Button } from "@/components/starwind/button";
import ProjectCard from "@/components/ProjectCard.astro";
---

<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>Dimitra Maria Pavlou</title>
</head>

<body>
	<Layout>
		<h1 class="font-extrabold text-5xl">Dimitra Maria Pavlou</h1>
		<div class="grid grid-cols-1 md:grid-cols-3">
			<ProjectCard title="Once upon a year" desc="This is a hypothetic project description." />

			<ProjectCard title="Tarara rara ram" desc="Yet another one. Look!" />

			<ProjectCard title="Something" desc="blah blah you ge it" />
		</div>
	</Layout>
</body>

</html>