---
import "../styles/starwind.css"
import Layout from "@/layouts/Layout.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import Project from "@/components/Project.astro";
---

<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio | Dimitra Maria Pavlou</title>
</head>

<body class="bg-white text-gray-800 antialiased">
    <Layout>
        <!-- Main Container -->
        <main class="max-w-6xl mx-auto px-6 py-10">

            <!-- Project Section -->
            <section class="mt-16">
                <Project />
            </section>

        </main>
    </Layout>
</body>

</html>