 <header class="bg-sky-100 p-1">
            <nav>
                <ul class="flex flex-row">
                    <li class="p-4"><a href="/" class="hover:font-bold">Home</a></li>
                    <li class="p-4"><a href="/" class="hover:font-bold">About</a></li>
                    <li class="p-4"><a href="/" class="hover:font-bold">Portfolio</a></li>
                </ul>
            </nav>
        </header>