<header class="fixed top-0 left-0 w-full z-50">
    <nav class="flex justify-end items-center px-8 py-4">
        <ul class="flex flex-row items-center space-x-5">
            <!-- About -->
            <li>
                <a href="/"
                    class="inline-block text-lg text-gray-800 transition-colors duration-200 ease-out hover:text-orange-500">
                    About
                </a>
            </li>
            <!-- Portfolio -->
            <li>
                <a href="/portfolio"
                    class="inline-block text-lg text-gray-800 transition-colors duration-200 ease-out hover:text-orange-500">
                    Portfolio
                </a>
            </li>
            <!-- Conrtact -->
            <li>
                <a href="/contact"
                    class="inline-block text-lg text-gray-800 transition-colors duration-200 ease-out hover:text-orange-500">
                    Contact
                </a>
            </li>


            <!-- Icon -->
            <li class="p-4">
                <a href="/" class="flex items-center space-x-2 transition-transform duration-300 hover:scale-180">
                    <img src="/favicon.svg" alt="Home" class="w-10 h-10" />
                </a>
            </li>
        </ul>
    </nav>
</header>