---
import { getCollection } from "astro:content";
const allProjects = await getCollection("projects");
import { Badge } from "@/components/starwind/badge";
import ProjectCard from "@/components/ProjectCard.astro";
---

<u1>
    <div>
        <h1 class="font-extrabold text-3xl py-5">Projects</h1>
        <div class="grid grid-cols-1 gap-13 md:grid-cols-3">
            {
            allProjects.map((article: any) => (
            <ProjectCard project={article} buttonText="View">
                <div class="flex">
                    {
                    article.data.tech.map((item: any)=>(
                    <Badge size="sm" variant="ghost">{item}</Badge>
                    ))
                    }
                </div>
            </ProjectCard>
            ))
            }
        </div>
    </div>
</u1>