---
import "@/styles/starwind.css";
import Navbar from "@/components/Navbar.astro";

const title = "My Portfolio";
---


<html lang="eng">

<head>
    <style is:global>
        @import url('https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&display=swap');
        .heading{
            font-family: "Bitcount Single Ink"
        }
    </style>
    <meta chaset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewpoint" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
</head>

<body>
   <Navbar />  
    <slot />
</body>

</html>