---
import "@/styles/starwind.css";
import Navbar from "@/components/Navbar.astro";

const title = "My Portfolio";
---


<html lang="eng">

<head>
    <style is:global>
        @import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');
        .heading{   
        font-family: "Rock 3D"
        }
    </style>
    <meta chaset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewpoint" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
</head>

<body>

    <!-- Background Wrapper -->
    <div class="fixed inset-0 -z-10 overflow-hidden">
      <!-- Blurred Abstract Background -->
      <div
        class="absolute inset-0 bg-cover bg-center filter blur-[70px] scale-75 brightness-400 contrast-300 opacity-40"
        style="background-image: url('/images/background.webp');"
        aria-hidden="true"
      ></div>

      <!-- Very subtle translucent veil for text readability -->
      <div class="absolute inset-0 bg-white/20 backdrop-blur-[2px]"></div>
    </div>

   <Navbar />  
    <slot />
</body>

</html>